*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 1rem;
    margin: auto;
    width: 90%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

section {
    border: 1px solid black;
    border-radius: calc(1.618em / 2);
    padding: 1em;
    margin-top: 1em;
}

dt{
    font-weight: bold;
    margin-top: 0.5em;
}

dd{
    margin-top: 0.25em;
    margin-left: 2em;
}

.controls-description{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.errors-section h3{
    margin-top: 0.5em;
}

.errors-section h4{
    margin-top: 0.5em;
}

.errors-section p{
    margin-top: 0.5em;
}

#theme-toggle{
    float: right;
    margin: 0.25em;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    transition: 0.4s ease-in-out;
    border-radius: 2em;
    padding: 0.4em 1em;
}

#theme-toggle:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.dark-theme{
    background-color: #333333;
    color: white;
}

.dark-theme section {
    border-color: white;
}

.dark-theme #theme-toggle{
    border-color: white;
    color: white;
}

.dark-theme #theme-toggle:hover{
    background-color: white;
    color: black;
}

.img-container > img{
    max-width: 500px;
    width: 75%;
    padding: 1em;
}